body {
    font-family: 'Montserrat';
  
}


.navbar{
    width: 100vw;
   
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em; }
  
  .container > * {
    flex-basis: 1 1 100%; }
  

    .btn{
      border-width: 0;
    }


#title{

    background: #37517e;
    padding: 5em 0em 2em 0em;
}

#title h2 {
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
    font-weight: 500;
}


  

  .title-img{
    width: 70vw;
    height: 30vh;
    margin-left: 2em;
    padding-top: 4em;

  }


  
