body {
    font-family: 'Montserrat';
  
}





.show {
  background-color:  #1e2d46c9  ;
padding: 2em;
width: 100vw;
left: 0;
z-index: 1000;
transition: all 350ms;
}


.navbar{
  
   

    .navbar-brand{
      color: #fff;
    }

    .navbar-toggler{
      background-color: #f0f0f0 !important;
    }
  
  
   
  }
  



  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em; }
  
  .container > * {
    flex-basis: 1 1 100%; }
  



#title{

    background: #37517e;
    padding: 5em 0em 2em 0em;
    color: #fff;
}

#title h2 {
    text-align: center;
    padding: 0em 1em;
    font-size: 1.3em;
    font-weight: 500;
}


  

  .title-img{
    width: 70vw;
    height: 30vh;
    margin-left: 2em;
    padding-top: 4em;

  }

  #features{
    padding: 7% 10%;
  }

  .feature-box{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  
  .feature-box h3{
    font-family: 'Montserrat', sans-serif;
  }

  .feature-box p{
    color: rgb(110, 119, 119);
  }
   .icon{
     color:  #37517e;
     margin-bottom: 1rem;
   }
  
   .icon:hover{
    color:#283b5c;
   }

    /* testimonials */

  #testimonials{
    background:#37517e;
    text-align: center;
    padding: 7% 0;
    color: #fff;
  }

  #testimonials h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1.5rem;
    font-size: 20px;
    line-height: 1.2;
  }

  .testimonial-img{
    border-radius: 100%;
    width: 15%;
    margin: 20px;
  }

  .rowzea{
    font-family:'Montserrat Alternates', sans-serif;
  }

  .carousel-control-next{
    margin-right: .5em;
  }
  

  
  /* press */

  #press{
    background-color: #37517e23;
    text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px;
} 


/* pricing */



.pricing-title {
  padding: 60px 0;
}

.pricing-title {
  text-align: center;
  padding-bottom: 30px;
}

.pricing-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}


.pricing .buy-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 50px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
  border: 1px solid #47b2e4;
}

.pricing .buy-btn:hover {
  background: #47b2e4;
  color: #fff;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em; }

.container > * {
  flex-basis: 1 1 100%; }

.flex {
  padding: 1.5em;
  text-align: start;
  width: 30em; }

.flex-item {
  background-color: #e2e2e2;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s; }

.flex-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.596); }

.card-img{
  display: block;
  height: 20rem;

  object-fit: cover; }

.card-content {
  padding: 1rem;
background-color: #f0f0f0; }



.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  margin-bottom: 1.5rem; }



  /* cta */
  #cta  {
    margin-top: 3em;
    text-align: center;
    padding: 2.5rem;
    width: 100vw;
    background-color: #37517e;

    .cta-heading{
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
    }
  }

  #cta h3{
    color: #fff;

  }

 

  /* footer */
#footer{
  text-align: center;
  padding: 5% 13%;

}

.footer-icon{
  width: 2rem;
  margin: 20px 10px;
  color:#37517e; 
}
 #footer :hover{
  color:black;
}




@media(min-width:40rem){
  
  
}
  
